<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257E5">
        <link rel="stylesheet" href="style/main.css">
        <link rel="stylesheet" href="/style/partials/page-landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
        <title>Proffy</title>
        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
    </head>
    <body id="page-landing">
        <div id="container">
            <div class="logo-container">
                <img src="/images/logo.svg" alt="Proffy">
                <p>Sua Plataforma de estudos online.</p>
            </div><!--logo-container-->

            <img class="hero-image" src="/images/landing.svg" alt="llatafor de Estudos">
            
            <div class="buttons-container">
                <a class="study" href="/study">
                    <img src="/images/icons/study.svg" alt="Estudar">
                    Estudar
                </a>
                <a class="give-classes" href="/give-classes">
                    <img src="/images/icons/give-classes.svg" alt="Dar Aulas">
                    Dar Aulas
                </a>    
            </div><!--buttons-container-->
            <p class="feito">Feito por <a href="https://github.com/ThiagoGaitkoski">Thiago Gaitkoski</a>
            <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
            </p>
        </div><!--container-->
    </body>
</html>